*{
    padding: 0%;
    margin: 0%;
}
body {
  /*background: linear-gradient(to bottom, #0ecee3ef 0%, #195ede 100%);  /* 米棕色 */
  background: radial-gradient(circle at 50% 50%, #6584ff, #ff5858, #5aff68);
  background-attachment: fixed;
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  margin: 0;  /* 避免瀏覽器預設空白 */
  }
header {
    padding:  0px 0px 0px 0px ;
    height: 80px;
    width: 100%;
    position:fixed;
    border-bottom: 4px #00000044;
    top: 1px;

}
header a {
    text-decoration: none;    /*首頁 目錄 消除底線*/ 

}        
header a:hover {
    text-decoration: underline;    /*首頁 目錄 任一屬標移上去有底線*/ 

}
header li{
    display: inline;
    margin-right: 5vw;            /*首頁 目錄 左移*/ 
    
}         
header ul{
    position:absolute;
    right: 10vw;                     /*首頁 目錄 左邊定位*/ 
    top: 0;
    line-height: 80px;
}         
h1{
    
    position:absolute;
    left:2vw ;                      /*定位標題*/ 
    top: 2px;

}
.標題  {
  font-size: 20px;  
  position:absolute;
    left:2vw ;                      /*定位副標*/ 
    top: 70px;
    }
.文字  {
  
  position:absolute;
    left:1vw ;                      /*定位內容*/ 
    top: 150px;
    font-size: x-large;
    
}
.文字 a{
    text-decoration: none;          /*目錄消除底線*/ 
}
.文字 a:hover {
    text-decoration: underline;    /* 目錄 任一屬標移上去有底線*/ 

}

.box {
      height: 250px;
      border: 5px solid rgba(0, 255, 255, 0.3); /* 淡淡的青色邊框 */
      border-radius: 8px;
      backdrop-filter: blur(5px);
      background-color: #ffffff; 
            
            
      display: flex;
      align-items: flex-start;   
      justify-content: flex-start; 
            
      padding: 10px;            
      box-sizing: border-box;    
            
      font-size: 20px;     /*字體大小*/ 
      color: #000000;   
 
        }

 .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding: 20px;
            max-width: 3000px;
            margin: 90px auto;
        }

@media (max-width: 768px) {
  img {
    width: 60%; /* 手機時縮小 */
  }
}


img {
  max-width: 20px;
  height: auto;
}

@keyframes gradientBG {
  0% { background-position: 0% 25%; }
  50% { background-position: 50% 25%; }
  100% { background-position: 0% 25%; }
}
